*, ::after, ::before {
  box-sizing: border-box;
  font-size:16px;
  font-family:'Poppins';
  --white:#fff0db;
  --gray:#dfe0db;
  --black:#0d0f05;
}

body {
  margin:0;
  background-color:var(--white);
  color:var(--black);
}

/* navbar */
nav {
  height:75px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  background-color:var(--gray);
  padding: 10px 36px;
}

.navbar-logo {
  /* outline:2px solid red; */
  max-width:150px;
  max-height:100px;
}

/* hero content */
.hero-container {
  border:2px solid red;
  padding:20px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.hero-image {
  align-self:flex-end;
}

/* 
app-container 

navbar-container
navbar-logo

hero-container
hero-image
hero-text-container
hero-title
hero-paragraph



*/